# Xcode user state files
appCalculo.xcodeproj/project.xcworkspace/xcuserdata/*

# Xcode scheme management files
appCalculo.xcodeproj/xcuserdata/*/xcschemes/xcschememanagement.plist

# Xcode shared data
appCalculo.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
